<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-name" class="form-control selectpicker" name="row[name]">
                {foreach name="nameList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.name"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Score')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-score" class="form-control form-control" name="row[score]" type="number" value="{$row.score}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Return')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-return" class="form-control form-control" name="row[return]" type="number" value="{$row.return}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sms')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sms" class="form-control form-control" name="row[sms]" type="text" value="{$row.sms}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-url" class="form-control form-control" name="row[url]" type="text" value="{$row.url}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qrimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-qrimage" class="form-control form-control" size="50" name="row[qrimage]" type="text" value="{$row.qrimage}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-qrimage" class="btn btn-danger plupload" data-input-id="c-qrimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-qrimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-qrimage" class="btn btn-primary fachoose" data-input-id="c-qrimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-qrimage"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-qrimage"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
