<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default ">
                        <h2 class="page-header" style="margin: 10px">
                           {$title}
                            <button class="btn btn-warning btn-xs" type="button" id="shuoming" data-channel="{$channel}">使用说明</button>
                        </h2>
                            <form id="add-form" role="form" data-toggle="validator" method="POST" action="/index/score/shangbao" class="nice-validator n-default n-bootstrap" novalidate="novalidate">
                                <div class="box-body box-profile">
                                    <div class="form-group">
                                        <span class="input-group text-sm text-red">
                                            {if condition="$channel == 'mobile_woerma' || $channel == 'mobile_maidelong'"}
                                            通过换积分的手机号码发送JF至10658999，查询积分后，根据现有积分余额，点击扫码或者发送相应短信指令兑换，并回复确认短信。
                                            {else/}
                                             通过换积分的手机号码发送105或cxjf至10010查询，查询积分后，根据现有积分余额，点击扫码进入官网兑换。
                                            {/if}
                                        </span>
                                    </div>
                                    {volist name="lists" id="vo"}
                                    <div class="form-group" style="margin-bottom: 0; ">
                                        <button type="button" class="btn btn-success btn-score" data-qrimage="{$vo.qrimage}" data-sms="{$vo.sms}" data-score="{$vo.score}">点我扫码兑换{$vo.score}积分-{$vo.return}</button>
                                        <p style="margin: 5px" class="text-green">
                                            {if condition="$channel == 'mobile_woerma' || $channel == 'mobile_maidelong'"}
                                            或发短信{$vo.sms}到10658999<a class="text-red" target="_blank" href="{$vo.url}">链接</a>
                                            {else/}
                                            或点击<a class="text-red" target="_blank" href="{$vo.url}">链接</a>进行兑换
                                            {/if}

                                        </p>
                                    </div>
                                    {/volist}
                                    <span class="text-sm">
                                        {if condition="$channel == 'mobile_woerma' || $channel == 'mobile_maidelong'"}
                                         最后一步就大功告成了，扫码后确认回复短信兑换成功，然后请上报平台回收。
                                        {else/}
                                         最后一步就大功告成了，进入官网兑换成功后，然后请上报平台回收。
                                        {/if}
                                    </span>
                                    </div>
                                    <div class="form-group">
                                        <input id="mobile" placeholder="手机号码" type="text" class="form-control" name="mobile" value="" data-rule="手机号码:required;mobile">
                                        <span class="msg-box"></span>
                                    </div>
                                    <!--<div class="form-group hide">
                                        <input id="LoginKey" placeholder="" type="text" class="form-control" name="LoginKey" value="">
                                    </div>-->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" placeholder="验证码"  class="form-control" name="smscode" value="" data-rule="验证码:required;">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" id="getsmscode" data-channel="{$channel}">获取验证码</button>
                                            </span>
                                        </div>
                                        <span class="msg-box"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" name="dosubmit" value="1">
                                        <input type="hidden" name="channel" value="{$channel}">
                                        <button type="submit" class="btn btn-success">上报</button>
                                        <button type="reset" class="btn btn-default">重置</button>
                                    </div>

                            </form>
                    </div>
                </div>

            <div class="col-md-8">
                <div class="panel panel-default ">
                    <div class="panel-body">
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="one">
                                <div class="widget-body no-padding">
                                    <div id="toolbar" class="toolbar">
                                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                                    </div>
                                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"

                                           width="100%">
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>