
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default panel-intro">
                <div class="panel-body">
                    <h2 class="page-header">
                        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                            <li ><a href="{:url('user/balancelog')}">余额日志</a></li>
                            <li class="active"><a href="{:url('user/blockbalancelog')}">待结算日志</a></li>
                            <li><a href="{:url('user/scorelog')}">积分日志</a></li>
                        </ul>
                        <small class="text-danger">待结算余额：{$user.blocked_balances} </small>
                    </h2>
                    <div class="bs-component">
                        {if condition="count($list)==0"}
                        <blockquote>暂无数据</blockquote>
                        {/if}
                        {volist name="list" id="v"}
                        <blockquote>
                            <p>{$v.memo}</p>

                            {if condition="($v.type == '+') "}
                            <p class="text-success">余额：+{$v.balance}</p>
                            {else /}
                            <p class="text-danger">余额：-{$v.balance}</p>
                            {/if}
                            <small>操作时间：{$v.createtime|date="Y-m-d H:i:s",###} </small>
                        </blockquote>
                        {/volist}
                        <div class="pager">{$list->render()}</div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


