
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default panel-intro">
                <div class="panel-body">
                    <h2 class="page-header">
                        积分日志
                        <small class="text-danger">总积分：{$user.score} </small>
                        <button type="button" class="btn btn-success btn-transfer pull-right" data-container="body" data-toggle="popover" data-placement="top" data-content="暂未开放，敬请期待" data-original-title="" title=""><i class="fa fa-exchange"></i> 积分兑换</button>
                    </h2>
                    <div class="bs-component">
                        {volist name="list" id="v"}
                        <blockquote>
                            <p>{$v.memo}</p>
                            <p class="text-success">积分：+{$v.score}</p>
                            <small>操作时间：{$v.createtime|date="Y-m-d H:i:s",###} </small>
                        </blockquote>
                        {/volist}
                        <div class="pager">{$list->render()}</div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


